.albumContainer {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

.albumGridContainer {
    display: grid;
    box-sizing: border-box;
    gap: 10px;
    grid-template-columns: [first] 17% [line2] 32% [line3] 20% [line4] 29%;
    grid-template-rows: [row1-start] 20% [row1-end] 36% [third-line] 20% [forth-line] 10% [fifth-line] 10%;
    height: 100%;
    width: 100%;
}

.item {
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 20px;
    color: rgb(242, 233, 228);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.itemOverlay {
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover .itemOverlay {
    height: 100%;
}

.overlayBtn a {
    text-decoration: none;
    border: none;
    background-color: rgba(27, 27, 48, 1);
    color: rgb(242, 233, 228);
    box-sizing: border-box;
    cursor: pointer;
    padding: 15px 35px;
    font-size: 1.2rem;
    border-radius: 5px;
}

#item1 {
    grid-column-start: 1;
    grid-column-end: line2;
    grid-row-start: row1-start;
    grid-row-end: 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room1.webp);
}

#item2 {
    grid-column-start: 1;
    grid-column-end: line2;
    grid-row-start: third-line;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room2.webp);
    grid-row-end: 6;
}

#item3 {
    grid-column-start: 2;
    grid-column-end: line3;
    grid-row-start: row1-start;
    grid-row-end: 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room3.webp);
}

#item4 {
    grid-column-start: 2;
    grid-column-end: line2;
    grid-row-start: third-line;
    grid-row-end: 6;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room4.webp);
}

#item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room5.webp);
}

#item6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room6.webp);
}

#item7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room7.webp);
}

#item8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room8.webp);
}

#item9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room9.jpg);
}

#item10 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../../public/images/room10.webp);
}

@media screen and (max-width: 768px) {

    .albumContainer{
        height:150vh;
        width: 100%;
    }

    .albumGridContainer {
        display: grid;
        box-sizing: border-box;
        gap: 5px;
        grid-template-columns: [first] 35% [line2] 30% [line3] 35%;
        grid-template-rows: [row1-start] 20% [row1-end] 26% [third-line] 20% [forth-line] 20% [fifth-line] 20%;
        height: 100%;
        width: 100%;
    }

    #item1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        
    }

    #item2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
    }

    #item3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        
    }

    #item4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #item5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #item6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #item7 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #item8 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #item9 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    #item10 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }


    .overlayBtn a {
        padding: 10px;
        font-size: 0.9rem;
    }

    .item{
        font-size: 1rem;
    } 
}