.headerContainer {
    background-image: linear-gradient(rgba(27, 27, 48, 0.9) , rgba(34, 34, 59, 4)) ,url(../../../public/images/cover3.webp);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

.headerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color:rgb(242, 233, 228)
}

.headerContent span{
    font-weight: 500;
}

.formContainer{
    width: 70%;
}