.AboutContainer {
    width: 100%;
    height: 100vh;
    /* margin-top: 50px; */
    display: flex;
}

.leftSection {
    width: 50%;
    height: 100%;
}

.rightSection {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    transform: translateY(-100px);
}

.leftSection .colored {
    width: 50%;
    height: 100%;
    background-color: rgba(27, 27, 48, 0.9);
    display: flex;
    align-items: center;
}

.leftSection .colored img {
    width: 170%;
    height: 80%;
    z-index: 2;
    margin: auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transform: translateX(140px);
}

.rightSection h3 {
    font-size: 2rem;
    text-transform: capitalize;
}

.rightSection .description {
    padding: 50px;
    font-size: 1.2rem;
    letter-spacing:1px;
}

@media screen and (max-width: 768px){
    .description h3{
        font-size: 1.5rem;
        margin: 0px auto;
    }
    
    .AboutContainer {
        height: initial;
        flex-wrap: wrap;
    }

    .leftSection , .rightSection{
        width: 100%;
    }

    .leftSection .colored{
        background-color: transparent;
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

    .leftSection .colored img{
        width: 130%;
        height: 100%;
        transform: none;
    }
}